@font-face {
  font-family: BonVoyage;
    src: url(assets/fonts/Bon-Voyage/BonVoyageRegular.otf); 	 
	font-style: normal;
	font-weight: normal;
}

body{
	margin: 0;
	padding: 0;
	font-size: 18px;
	background-color: #8E4324;
	color: #E1D3B9;
	font-family: 'Nunito', sans-serif;
}
a{
	color: #E1D3B9;
	text-decoration: none;
}
*{
	box-sizing: border-box;
	outline: none;
}
h1, h2, h3{
	font-family: 'BonVoyage';
	font-weight: 400;
}

.pfrx_main{
	padding-top: 200px;
}
.pfrx_main_container{
	/*grid-column: 5/10;*/
	grid-column: 4/end;
}
.pfrx_main_container_center{
	grid-column: 4/10;
}
.pfrx_main_container_xs{
	width: 100%;
	max-width: 405px;
	margin: auto;
	grid-column: 5/9;
}

/* ui element */

/** arrow more **/
.pfrx_more_box a{
	text-decoration: none;
}
.pfrx_more_go{
	display:flex;
	align-items:center;
}
.pfrx_more_go>*{
	margin:0;
	padding:0;
}
.pfrx_arrow_lg{
	width: 170px;
	height:1px;
	background-color:white;
	max-width: 90%;
	background-color: currentColor;
	position:relative;
}
.pfrx_arrow_lg:before{
	width: 0;
    height: 0;
    background: 0;
    border-color: transparent transparent transparent currentcolor;
    border-style: solid;
    border-width: 6px 0 6px 10px;
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -6px;
}

.pfrx_arrow_lg{
	transform:translateX(250px);
}

.pfrx_more_text{
	transition:.5s;
	font-size: 2.5em;
    font-family: 'BonVoyage';
}
.pfrx_more_go:hover .pfrx_more_text{
	transform:translateX(150px);
	letter-spacing:-3.4px;
}
/** arrow more end **/

/* ui animation */
.pfrx_el_opacity{
	opacity: 0;
	transition: opacity .9s;
}

/* menu */
.pfrx_header{
	position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    padding: 30px 0 20px;
    font-family: 'BonVoyage';
}
.pfrx_header a{
	text-decoration: none;
}
.pfrx_header ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: fixed;
    left: auto;
    top: auto;
    z-index: 999;
}
.pfrx_header_nav li{
	padding:4px 0;
}
.pfrx_header_nav a{
	text-transform: uppercase;
	font-size:1.4em;
	position: relative;
	transition: letter-spacing .3s, padding .3s;
}
.pfrx_header_nav a:hover{
	letter-spacing: -3.5px;
	padding-right:28px;
}
.pfrx_header_nav a:after{
	content:'';
	width:100%;
	height:1px;
	background-color: #E1D3B9;
	position: absolute;
	left: 0;
	bottom: 0;
	transition: .3s;
}
.pfrx_header_nav a:hover:after{
	width:0;
}
.pfrx_header_logo{
	text-align: right;
	text-transform: uppercase;
}

.zatomay_logo img,
.zatomay_logo svg {
	max-width: 142px;
}
/*** home ***/
/* maincover */
.pfrx_maincover{
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	/*background-image: url(https://images.unsplash.com/photo-1504738165310-a8d01a22fbbd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjF9&auto=format&fit=crop&w=1800&q=80);*/
	/*background-image: url(https://images.unsplash.com/photo-1496147539180-13929f8aa03a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);*/
	/*background-image: url(https://images.unsplash.com/photo-1527203561188-dae1bc1a417f?ixlib=rb-1.2.1&auto=format&fit=crop&w=1916&q=80);*/
	/*background-image: url(https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1900&q=80);*/
	/*background-image: url(https://images.unsplash.com/photo-1522938974444-f12497b69347?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1897&q=80);*/
	/*background-image: url(https://images.unsplash.com/photo-1525614686090-7a3108e3758e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1536&q=80);*/
	/*background-image: url(https://images.unsplash.com/photo-1520880178538-52017968d5d0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1536&q=80);*/
	/*background-image: url(https://images.unsplash.com/photo-1536094517470-a9784e41e283?ixlib=rb-1.2.1&auto=format&fit=crop&w=1955&q=80);*/
	/*background-image: url(https://images.unsplash.com/photo-1503602642458-232111445657?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1868&q=80);*/
	/*background-image: url(https://images.unsplash.com/photo-1468174482686-1047396f13b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);*/
}
.pfrx_maincover_container{
	min-height: 100vh;
	/*opacity: 0;*/
	/*transition: 1s;*/
}
.pfrx_maincover_heading_box{
	grid-column: 4/9;
	grid-row: 1/2;
}
.pfrx_maincover_heading{
	display: flex;
	flex-direction: column;
	font-size: 6vmax;
	margin:0;
	font-weight: 100;
}
.pfrx_maincover_heading_descr{
	font-size: 1.65vmax;
	font-family: 'BonVoyage';
}

.pfrx_maincover_about{
	grid-column: 8 / end;
	grid-row: 2/3;
	display: flex;
    align-items: flex-end;
    padding-bottom: 30px;
}
.pfrx_maincover_about_text_wrapper{
	display: flex;
	justify-content: center;
    align-items: center;
    width: 100%;
}
.pfrx_maincover_about_text_box{
	flex: 1;
    font-size: 1.25em;
    padding: 0 30px;
    display: flex;
    justify-content: flex-end;
}
.pfrx_maincover_about_contactbtn{
	/*padding: 0 40px;*/
	width: 170px;
    background: #DF9C65;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 1.5em;
    font-family: 'BonVoyage';
    height: 100%;
    transition: letter-spacing .3s;
}
.pfrx_maincover_about_contactbtn:hover{
	letter-spacing: -2.5px;
}
.pfrx_maincover_about_contactbtn_box a{
	text-decoration: none;
}
/** animation cover */
/*.pfrx_maincover_heading_descr{
	opacity: 0;
	transition: opacity .9s cubic-bezier(.66,.53,.15,1.53);
}
.pfrx_maincover_heading>span{
	opacity: 0;
	transition: opacity .9s cubic-bezier(.66,.53,.15,1.53);
}
.pfrx_maincover_about_text_wrapper{
	opacity: 0;
	transition: opacity .9s cubic-bezier(.66,.53,.15,1.53);
	transition-delay: .3s;
}*/
/** animation cover end */


/* portfoliolist */
.pfrx_portfoliolist{
	margin: 8em auto;
}
.pfrx_portfoliolist>ul{
	list-style-type: none;
}
.pfrx_portfoliolist_row{
	grid-column: 4/end;
	margin: 0 0 6em;
	opacity: 0;
	transition: opacity .9s
}
.pfrx_portfoliolist_link_col{
	display:flex;
	flex-direction:column;
	align-items: flex-start;
}
.pfrx_portfoliolist_link_name {
	font-family: BonVoyage;
	font-size: 1.3em;
	line-height: 1.4em;
	margin-bottom: 25px;
}
.pfrx_portfoliolist_shot{
	background-size: cover;
	background-position: center;
}
.pfrx_portfoliolist_shot_col{
	grid-gap: 20px;
}
.pfrx_portfoliolist_link_go{
	position: relative;
	margin-top: 5px;
    letter-spacing: 0.1em;
    /*text-transform: capitalize;*/
    transition: letter-spacing .3s, padding .3s;
}
.pfrx_portfoliolist_link_go:after{
	content: '';
	width: 100%;
	height: 1px;
	background-color: #E1D3B9;
	position: absolute;
	left: 0;
	bottom: 0px;
	transition: .3s;
}
.pfrx_portfoliolist_link_go:hover{
	letter-spacing: -1px;
	padding-right:28px;
}
.pfrx_portfoliolist_link_go:hover:after{
	width: 0;
}


/* about */
.pfrx_about_header_box{
	background: #E2CFC0;
    height: 537px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}
.pfrx_about_header{
	color: #602C17;
    font-size: 5.8em;
    margin: 0;
}
.pfrx_about_header_descr_box{
    font-size:1.2em	
}
/** team **/
.pfrx_team_list{
	list-style-type: none;
	padding: 0;
	margin: 0;
	grid-column: 3/9;
}
.pfrx_team_item{
	grid-template-columns: repeat(6, 1fr);
	display: grid;
	margin-bottom: 6em;
}
.pfrx_team_item_box{
    grid-column: 3/5;
}
.pfrx_team_item:nth-child(2n) .pfrx_team_item_box{
    grid-column: 1/3;
}
.pfrx_team_item:nth-child(3n) .pfrx_team_item_box{
    grid-column: 1/3;
}
.pfrx_team_item:nth-child(4n) .pfrx_team_item_box{
    grid-column: 3/5;
}
.pfrx_team_photo{
	width: 100%;
	background-color: #b55f3b;
	background-size: cover;
	background-position: center;
}
.pfrx_team_name{
	font-size:1.2em;
}
.pfrx_team_post{
	margin-top:10px;
	font-size:.95em;
	max-width:200px;
}




/* about menu */
.pfrx_about_nav{
	list-style-type:none;
	margin:0;
	padding:0;
	position:fixed;
	left:1vw;
	top:50%;
	transform:translateY(-50%);
}
.pfrx_about_nav{
	font-size:.95em;
	font-weight:100;
}
.pfrx_about_nav>li{
	opacity: 0;
	transition: opacity .9s;
}
.pfrx_about_nav a{
	transition:.3s;
}
.pfrx_about_nav a:hover{
	padding-right: 15px;
	letter-spacing: -1.4px;
}

/* client */
.pfrx_swiper_container{
	overflow-x: hidden;
	position: relative;
}
.pfrx_swiper_heading_box{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.pfrx_swiper_heading{
	margin: 0;
}
.pfrx_slide_logobox{
	display:flex;
	align-items:center;
	height: auto;
}
.pfrx_client_listbox{
	/*display: grid;
	grid-template-columns: repeat(3, 1fr);*/
	list-style-type:none;
	margin:0;
	padding:0;
	grid-gap: 50px;
}
.pfrx_client_logo_box{
	display:flex;
	align-items:center;
}

