@font-face {
  font-family: BonVoyage;
    src: url(assets/fonts/Bon-Voyage/BonVoyageRegular.otf); 	 
	font-style: normal;
	font-weight: normal;
}

body{
	margin: 0;
	padding: 0;
	font-size: 18px;
	background-color: #8E4324;
	color: #E1D3B9;
	font-family: 'Nunito', sans-serif;
}
a{
	color: #E1D3B9;
	text-decoration: none;
}
*{
	box-sizing: border-box;
	outline: none;
}
h1, h2, h3{
	font-family: 'BonVoyage';
	font-weight: 400;
}

/* menu */
.pfrx_header{
	position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    padding: 30px 0 20px;
    font-family: 'BonVoyage';
}
.pfrx_header a{
	text-decoration: none;
}
.pfrx_header ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: fixed;
    left: auto;
    top: auto;
    z-index: 999;
}
.pfrx_header_nav li{
	padding:4px 0;
}
.pfrx_header_nav a{
	text-transform: uppercase;
	font-size:1.4em;
	position: relative;
	transition: letter-spacing .3s, padding .3s;
}
.pfrx_header_nav a:hover{
	letter-spacing: -3.5px;
	padding-right:28px;
}
.pfrx_header_nav a:after{
	content:'';
	width:100%;
	height:1px;
	background-color: #E1D3B9;
	position: absolute;
	left: 0;
	bottom: 0;
	transition: .3s;
}
.pfrx_header_nav a:hover:after{
	width:0;
}
.pfrx_header_logo{
	text-align: right;
	text-transform: uppercase;
}
/** munu animation */
.pfrx_header_nav>li{
	opacity: 0;
	transition: opacity .9s cubic-bezier(.66,.53,.15,1.53);
}

/*** home ***/
/* maincover */
.pfrx_maincover{
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	/*background-image: url(https://images.unsplash.com/photo-1504738165310-a8d01a22fbbd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjF9&auto=format&fit=crop&w=1800&q=80);*/
	/*background-image: url(https://images.unsplash.com/photo-1496147539180-13929f8aa03a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);*/
	/*background-image: url(https://images.unsplash.com/photo-1527203561188-dae1bc1a417f?ixlib=rb-1.2.1&auto=format&fit=crop&w=1916&q=80);*/
	/*background-image: url(https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1900&q=80);*/
	/*background-image: url(https://images.unsplash.com/photo-1522938974444-f12497b69347?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1897&q=80);*/
	/*background-image: url(https://images.unsplash.com/photo-1525614686090-7a3108e3758e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1536&q=80);*/
	/*background-image: url(https://images.unsplash.com/photo-1520880178538-52017968d5d0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1536&q=80);*/
	/*background-image: url(https://images.unsplash.com/photo-1536094517470-a9784e41e283?ixlib=rb-1.2.1&auto=format&fit=crop&w=1955&q=80);*/
	/*background-image: url(https://images.unsplash.com/photo-1503602642458-232111445657?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1868&q=80);*/
	/*background-image: url(https://images.unsplash.com/photo-1468174482686-1047396f13b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);*/
}
.pfrx_maincover_container{
	min-height: 100vh;
	/*opacity: 0;*/
	/*transition: 1s;*/
}
.pfrx_maincover_heading_box{
	grid-column: 4/9;
	grid-row: 1/2;
}
.pfrx_maincover_heading{
	display: flex;
	flex-direction: column;
	font-size: 6vmax;
	margin:0;
	font-weight: 100;
}
.pfrx_maincover_heading_descr{
	font-size: 1.65vmax;
	font-family: 'BonVoyage';
}

.pfrx_maincover_about{
	grid-column: 8 / end;
	grid-row: 2/3;
	display: flex;
    align-items: flex-end;
    padding-bottom: 30px;
}
.pfrx_maincover_about_text_wrapper{
	display: flex;
	justify-content: center;
    align-items: center;
    width: 100%;
}
.pfrx_maincover_about_text_box{
	flex: 1;
    font-size: 1.25em;
    padding: 0 30px;
    display: flex;
    justify-content: flex-end;
}
.pfrx_maincover_about_contactbtn{
	padding: 0 40px;
    background: #DF9C65;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 1.5em;
    font-family: 'BonVoyage';
}
.pfrx_maincover_about_contactbtn_box a{
	text-decoration: none;
}
/** animation cover */
/*.pfrx_maincover_heading_descr{
	opacity: 0;
	transition: opacity .9s cubic-bezier(.66,.53,.15,1.53);
}
.pfrx_maincover_heading>span{
	opacity: 0;
	transition: opacity .9s cubic-bezier(.66,.53,.15,1.53);
}
.pfrx_maincover_about_text_wrapper{
	opacity: 0;
	transition: opacity .9s cubic-bezier(.66,.53,.15,1.53);
	transition-delay: .3s;
}*/
/** animation cover end */


/* portfoliolist */
.pfrx_portfoliolist{
	margin: 8em 0;
}
.pfrx_portfoliolist>ul{
	list-style-type: none;
}
.pfrx_portfoliolist_row{
	grid-column: 4/end;
	margin: 0 0 6em;
}
.pfrx_portfoliolist_link_col{
	display:flex;
	flex-direction:column;
}
.pfrx_portfoliolist_shot{
	background-size: cover;
	background-position: center;
}
.pfrx_portfoliolist_shot_col{
	grid-gap: 20px;
}